body {
    background: lightpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headers {
    color: darkblue;
}
#email {
    background-color: goldenrod;
}

#github {
    background-color: lightsteelblue
}

#portfolio {
    background-color: darkorange;
}